@import url('https://fonts.cdnfonts.com/css/century-gothic-paneuropean');
@import url('https://fonts.cdnfonts.com/css/coda');
@import url('https://fonts.cdnfonts.com/css/changa-one');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/inter');
@import url('https://fonts.cdnfonts.com/css/plus-jakarta-sans');
@import url('https://fonts.cdnfonts.com/css/salsa');
@import url('https://fonts.cdnfonts.com/css/scada');



.apple-distributor{
   justify-content: space-between;
   align-items: flex-start;
   margin-bottom: 3.74rem;

}
.hero-info {
   display: inline;
 }
 
 .hero-info h1 {
   display: inline-block; /* ensures text stays together */
 }
 
 .hero-info h1:after {
   content: url("/assets/market/nep.svg");  
    width: fit-content; 
   height: fit-content;
   display: inline-block;
   vertical-align: middle;
   margin-left: 5px; /* adjust spacing as needed */
 }
.apple-distributor .hero-image{
    text-align: center;
    padding-top: 2rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
}

.apple-distributor .hero-head{
 padding-top: .5rem;
display: flex;
align-items: center;
justify-content: center;
}
 .x{
    color: #000;
    text-align: center;
    font-family: 'inter';
    font-size: 1.91106rem;
    padding-left: .8rem;
    font-weight: 1000;
    line-height: normal;
    text-transform: uppercase;
 }
 .apple-distributor .hero-text{
    color: #000;
text-align: center;
font-family: 'Coda';
font-size: 0.81681rem;
font-style: normal;
font-weight: 400;
line-height: normal;
text-transform: uppercase; 
max-width: 17rem;
 }
 .apple-distributor .hero-text span{
    color: #1502EF;
 }
 .apple-distributor{
    padding-top:4rem ;
 }
 .apple-distributor .hero-info{
    max-width:50%;
   
 }


 /* Product grid  */
 .grid-product-container{
    display: grid;
    row-gap: 3.75rem;
    column-gap: 8rem;
    padding: 3.75rem 5.4rem;
    width: 100%;
    grid-template-columns: repeat(3,1fr);
 }
 .grid-product-item{
    max-width: 18.13138rem;
max-height:100%;
    border: 0.623px solid #D1CACA;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #000;
    text-align: center;
    font-family: "Century Gothic";
   padding: .9rem 3.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    justify-content: flex-end;
 }
 .grid-product-item img{
    max-width: 15.44669rem;
max-height: 14.90194rem;
flex-shrink: 0;
padding-bottom: 1.5rem;
 }
 .grid-product-item h6{
    color: #000;
    text-align: center;
    font-family: "Century Gothic";
    font-size: 1.63413rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
 }
 .grid-product-item p{
    padding:.2rem;
    font-size: 1.40069rem; 
 }
 .grid-product-item .btn{
    margin: 0;
    margin-top: 1rem;
    max-width: 14.62956rem;
max-height: 100%;
flex-shrink: 0;
color: #FFF;
padding: .6rem 2rem;
text-align: center;
font-family: "Century Gothic";
font-size: 1.40069rem;
font-style: normal;
font-weight: 700;
line-height: normal;
text-transform: uppercase;
 }


 /* company styling  */
 .company{
    background: #F5F5F5;
    display: flex;
    justify-content: center;
max-height: 8.1875rem;
padding: 2.3125rem 7.0625rem 2.25rem 6.3125rem;
align-items: center;
gap: 3.44rem;
 }
.company-logo img{
   max-height: 4.12963rem; 
   max-width: 4.38975rem;
 object-fit: contain;
 
}

 @media (max-width:1100px) {
   .grid-product-container{
      justify-items: center;
      column-gap: 1.5rem;
   }
 }
 @media (max-width:760px) {
   .grid-product-container{
      justify-items: center;
      column-gap: .5rem;
   }
   .apple-distributor .hero-image{
      text-align: center;
      padding-top: 0.2rem;
   }
 }
 @media (max-width:600px) {
   .grid-product-container{
      justify-items: center;
      grid-template-columns: repeat(2,1fr);
   }
   .hero-info h1::after {
      content: url("/assets/market/nep.svg");
      width: 1rem;
      height: 1rem;
      display: inline-block;
      vertical-align: text-top;
      margin-left: 5px;
    }
 }

 @media (max-width:450px) {
   .grid-product-container{
    
      grid-template-columns: repeat(2,1fr);
   }
   .hero{
      padding: 4rem 1.4rem 5rem 1rem;
   }
   .apple-distributor .hero-image{
     margin-top: 0;
   }

  .hero .logo-img-market{
      width: 8rem;
      height: 2rem;
   }
   .apple-distributor .hero-head{
      padding-top: 0rem;
   }
   .apple-distributor .hero-text{
      color: #000;
text-align: center;
font-family: Coda;
font-size: 0.41669rem;
font-style: normal;
 width: 80%;
font-weight: 400;
line-height: normal;
text-transform: uppercase;
   }
   

   .x{
      color: #000;
text-align: center;
font-family: Coda;
font-size: 0.76444rem;
font-style: normal;
font-weight: 800;
line-height: normal;
text-transform: uppercase;
padding-left: .2rem  ;
   }
   .hero img{
      width: 2.60781rem;
height: 2.0745rem;
flex-shrink: 0;
   }
   .hero h1{
      color: #000;
font-family: "Changa One";
font-size: 1.33931rem;
font-style: normal;
font-weight: 400;
line-height: normal;
text-transform: uppercase;
   }
   .hero img{
      max-width: 10rem;
   }
   .apple-distributor .hero-text {
      font-size: 0.41669rem; 
      max-width: 60%;
   }

   .grid-product-item img{
      width: 8.37419rem;
max-height: 8.07888rem;
   }
   .grid-product-item h6{
      color: #000;
text-align: center;
font-family: "Century Gothic";
font-size: 0.88594rem;
font-style: normal;
font-weight: 400;
line-height: normal;
text-transform: uppercase;
   }
   .grid-product-item p{
      color: #000;
text-align: center;
font-family: "Century Gothic";
font-size: 0.75938rem;
font-style: normal;
font-weight: 400;
line-height: normal;
text-transform: uppercase;
   }
   .grid-product-item .btn{
      width: 7.93125rem;
height: 1.582rem;
color: #FFF;
display: flex;
align-items: center;
text-align: center;
font-family: "Century Gothic";
font-size: 0.75938rem;
font-style: normal;
font-weight: 700;
line-height: normal;
text-transform: uppercase;
   }
   .hero img{
      max-width: 8rem;
   }
   .grid-product-container{
      gap: 0;
      justify-content: space-between;
      padding: 0;
      row-gap: 2rem;
   }
   .grid-product-item{
      max-width: 9.82969rem;
max-height: 100%;
   }
 .company{
   width: 100%;
   gap: .1rem;
 }
 .company-logo img{
   width: 2.45688rem;
height: 0.77556rem;
flex-shrink: 0;
 }
 }